@media screen and (width>=650px) {

    /* main */
    h1 {
        font-size: 36px;
    }

    /* form */
    #input-form {
        width: 80vw;
    }

    /* pop-up message */
    .pop-up {
        width: 450px;
    }
}

@media screen and (width>=850px) {

    /* form */
    #input-form {
        width: 750px;
    }

    .group.name,
    .group.radios {
        grid-template-columns: 330px 330px;
        gap: 20px;
    }

    #msg-area {
        height: 100px;
    }
}